In [5]:
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'numpy'

In [ ]:
genres = pd.read_csv('https://raw.githubusercontent.com/Surachet142/Bible-KJV-Thai-Dataset/main/dataforimport/key_genre_english.csv')
book = pd.read_csv('https://raw.githubusercontent.com/Surachet142/Bible-KJV-Thai-Dataset/main/dataforimport/key_english.csv')
bible = pd.read_csv('https://raw.githubusercontent.com/Surachet142/Bible-KJV-Thai-Dataset/main/dataforimport/bibletheng.csv')

In [ ]:
book

     b            n                s   t  g
0    1      Genesis           ปฐมกาล  OT  1
1    2       Exodus             อพยพ  OT  1
2    3    Leviticus         เลวีนิติ  OT  1
3    4      Numbers       กันดารวิถี  OT  1
4    5  Deuteronomy  เฉลยธรรมบัญญัติ  OT  1
..  ..          ...              ...  .. ..
61  62       1 John          1 ยอห์น  NT  7
62  63       2 John          2 ยอห์น  NT  7
63  64       3 John          3 ยอห์น  NT  7
64  65         Jude             ยูดา  NT  7
65  66   Revelation           วิวรณ์  NT  8

[66 rows x 5 columns]

In [ ]:
bible

,id,b,c,v,t,Text
0,1001001,1,1,1,In the beginning God created the heaven and th...,ในเริ่มแรกนั้นพระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นด...
1,1001002,1,1,2,"And the earth was without form, and void; and ...",แผ่นดินโลกนั้นก็ปราศจากรูปร่างและว่างเปล่าอยู่...
2,1001003,1,1,3,"And God said, Let there be light: and there wa...","พระเจ้าตรัสว่า ""จงให้มีความสว่าง"" แล้วความสว่า..."
3,1001004,1,1,4,"And God saw the light, that it was good: and G...",พระเจ้าทรงเห็นว่าความสว่างนั้นดี และพระเจ้าทรง...
4,1001005,1,1,5,"And God called the light Day, and the darkness...",พระเจ้าทรงเรียกความสว่างนั้นว่าวัน และพระองค์ท...
...,...,...,...,...,...,...
31097,66022017,66,22,17,"And the Spirit and the bride say, Come. And le...","พระวิญญาณและเจ้าสาวตรัสว่า ""เชิญมาเถิด"" และให้..."
31098,66022018,66,22,18,For I testify unto every man that heareth the ...,ข้าพเจ้าเตือนทุกคนที่ได้ยินคำพยากรณ์ในหนังสือน...
31099,66022019,66,22,19,And if any man shall take away from the words ...,และถ้าผู้ใดตัดข้อความออกจากหนังสือพยากรณ์นี้ พ...
31100,66022020,66,22,20,"He which testifieth these things saith, Surely...",พระองค์ผู้ทรงเป็นพยานในเหตุการณ์ทั้งปวงนี้ ตรั...
31101,66022021,66,22,21,The grace of our Lord Jesus Christ be with you...,ขอให้พระคุณแห่งพระเยซูคริสต์องค์พระผู้เป็นเจ้า...

In [ ]:
genres

   g            n
0  1          Law
1  2      History
2  3       Wisdom
3  4     Prophets
4  5      Gospels
5  6         Acts
6  7     Epistles
7  8  Apocalyptic

In [ ]:
kjv_bible = bible.rename(columns={'Text': 'content', 'Book Name' : 'book', 't_y' : 'testament', 'n_y' : 'genre'})

In [ ]:
genres

   g            n
0  1          Law
1  2      History
2  3       Wisdom
3  4     Prophets
4  5      Gospels
5  6         Acts
6  7     Epistles
7  8  Apocalyptic

In [ ]:
book = pd.merge(book, genres, on='g')

In [ ]:
book.head()

   b          n_x                s   t  g  n_y
0  1      Genesis           ปฐมกาล  OT  1  Law
1  2       Exodus             อพยพ  OT  1  Law
2  3    Leviticus         เลวีนิติ  OT  1  Law
3  4      Numbers       กันดารวิถี  OT  1  Law
4  5  Deuteronomy  เฉลยธรรมบัญญัติ  OT  1  Law

In [ ]:
df = pd.merge(book, bible, on='b')

In [ ]:
df.head()

,book_number,book_eng,book_th,testament,type_number,type,id,chapter,verse,bible_eng,bible_th
0,1,Genesis,ปฐมกาล,OT,1,Law,1001001,1,1,In the beginning God created the heaven and th...,ในเริ่มแรกนั้นพระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นด...
1,1,Genesis,ปฐมกาล,OT,1,Law,1001002,1,2,"And the earth was without form, and void; and ...",แผ่นดินโลกนั้นก็ปราศจากรูปร่างและว่างเปล่าอยู่...
2,1,Genesis,ปฐมกาล,OT,1,Law,1001003,1,3,"And God said, Let there be light: and there wa...","พระเจ้าตรัสว่า ""จงให้มีความสว่าง"" แล้วความสว่า..."
3,1,Genesis,ปฐมกาล,OT,1,Law,1001004,1,4,"And God saw the light, that it was good: and G...",พระเจ้าทรงเห็นว่าความสว่างนั้นดี และพระเจ้าทรง...
4,1,Genesis,ปฐมกาล,OT,1,Law,1001005,1,5,"And God called the light Day, and the darkness...",พระเจ้าทรงเรียกความสว่างนั้นว่าวัน และพระองค์ท...

In [ ]:
print('row of data = %d' % (df.shape[0]))

row of data = 31102

In [ ]:
df = df.rename(columns={'n_x': 'book_eng', 's' : 'book_th', 'n_y' : 'type', 't_y' : 'bible_eng','Text' : 'bible_th','t_x':'testament','c':'chapter','v':'verse','b':'book_number','g':'type_number'})

In [ ]:
df.head()

,book_number,book_eng,book_th,testament,type_number,type,id,chapter,verse,bible_eng,bible_th
0,1,Genesis,ปฐมกาล,OT,1,Law,1001001,1,1,In the beginning God created the heaven and th...,ในเริ่มแรกนั้นพระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นด...
1,1,Genesis,ปฐมกาล,OT,1,Law,1001002,1,2,"And the earth was without form, and void; and ...",แผ่นดินโลกนั้นก็ปราศจากรูปร่างและว่างเปล่าอยู่...
2,1,Genesis,ปฐมกาล,OT,1,Law,1001003,1,3,"And God said, Let there be light: and there wa...","พระเจ้าตรัสว่า ""จงให้มีความสว่าง"" แล้วความสว่า..."
3,1,Genesis,ปฐมกาล,OT,1,Law,1001004,1,4,"And God saw the light, that it was good: and G...",พระเจ้าทรงเห็นว่าความสว่างนั้นดี และพระเจ้าทรง...
4,1,Genesis,ปฐมกาล,OT,1,Law,1001005,1,5,"And God called the light Day, and the darkness...",พระเจ้าทรงเรียกความสว่างนั้นว่าวัน และพระองค์ท...

In [ ]:
#df.to_csv('/gdrive/My Drive/project/church/bibleall.csv', index = False)

In [ ]:
#พระคัมภีร์ทั้งเล่ม
bible = df.loc[0:31102, ['id','book_th','chapter','verse','bible_th']]
#พระคัมภีร์พระสัญญาเดิม
ot = df.loc[0:23144, ['id','book_th','chapter','verse','bible_th']]
#พระคัมภีร์พระสัญญาใหม่
nt = df.loc[23145:31102, ['id','book_th','chapter','verse','bible_th']]

#ตัวทดสอบ
oat = df.loc[0:3, ['id','book_th','chapter','verse','bible_th']]
print(oat)

        id book_th  chapter  verse  \
0  1001001  ปฐมกาล        1      1
1  1001002  ปฐมกาล        1      2
2  1001003  ปฐมกาล        1      3
3  1001004  ปฐมกาล        1      4

                                            bible_th
0  ในเริ่มแรกนั้นพระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นด...
1  แผ่นดินโลกนั้นก็ปราศจากรูปร่างและว่างเปล่าอยู่...
2  พระเจ้าตรัสว่า "จงให้มีความสว่าง" แล้วความสว่า...
3  พระเจ้าทรงเห็นว่าความสว่างนั้นดี และพระเจ้าทรง...

In [ ]:
#พระคัมภีร์ทั้งเล่ม
bible_eng = df.loc[0:31102, ['id','book_eng','chapter','verse','bible_eng']]
#พระคัมภีร์พระสัญญาเดิม
ot_eng = df.loc[0:23144, ['id','book_eng','chapter','verse','bible_eng']]
#พระคัมภีร์พระสัญญาใหม่
nt_eng = df.loc[23145:31102, ['id','book_eng','chapter','verse','bible_eng']]

#ตัวทดสอบ
oat = df.loc[0:3, ['id','book_eng','chapter','verse','bible_eng']]
print(oat)

        id book_eng  chapter  verse  \
0  1001001  Genesis        1      1
1  1001002  Genesis        1      2
2  1001003  Genesis        1      3
3  1001004  Genesis        1      4

                                           bible_eng
0  In the beginning God created the heaven and th...
1  And the earth was without form, and void; and ...
2  And God said, Let there be light: and there wa...
3  And God saw the light, that it was good: and G...

In [ ]:
#bible_eng.to_csv('/gdrive/My Drive/project/church/bible_eng.csv', index = False)
#ot_eng.to_csv('/gdrive/My Drive/project/church/ot_eng.csv', index = False)
#nt_eng.to_csv('/gdrive/My Drive/project/church/nt_eng.csv', index = False)

In [ ]:
#bible.to_csv('/gdrive/My Drive/project/church/bible.csv', index = False)
#ot.to_csv('/gdrive/My Drive/project/church/ot.csv', index = False)
#nt.to_csv('/gdrive/My Drive/project/church/nt.csv', index = False)

In [ ]:
print(ot)

             id book_th  chapter  verse  \
0       1001001  ปฐมกาล        1      1
1       1001002  ปฐมกาล        1      2
2       1001003  ปฐมกาล        1      3
3       1001004  ปฐมกาล        1      4
4       1001005  ปฐมกาล        1      5
...         ...     ...      ...    ...
23140  39004002  มาลาคี        4      2
23141  39004003  มาลาคี        4      3
23142  39004004  มาลาคี        4      4
23143  39004005  มาลาคี        4      5
23144  39004006  มาลาคี        4      6

                                                bible_th
0      ในเริ่มแรกนั้นพระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นด...
1      แผ่นดินโลกนั้นก็ปราศจากรูปร่างและว่างเปล่าอยู่...
2      พระเจ้าตรัสว่า "จงให้มีความสว่าง" แล้วความสว่า...
3      พระเจ้าทรงเห็นว่าความสว่างนั้นดี และพระเจ้าทรง...
4      พระเจ้าทรงเรียกความสว่างนั้นว่าวัน และพระองค์ท...
...                                                  ...
23140  แต่ดวงอาทิตย์แห่งความชอบธรรมซึ่งมีปีกรักษาโรคภ...
23141  และเจ้าจะเหยียบย่ำคนชั่ว เพราะว่าเขาจะเป็นเหมื...
23142  จงจดจำราชบัญญัติของโมเสสผู้รับใช้ของเรา ทั้งกฎ...
23143  ดูเถิด เราจะส่งเอลียาห์ผู้พยากรณ์มายังเจ้าก่อน...
23144  และท่านผู้นั้นจะกระทำให้จิตใจของพ่อหันไปหาลูก ...

[23145 rows x 5 columns]

In [ ]:
kaning = df.groupby('type')

In [ ]:
kaning.head()

,book_number,book_eng,book_th,testament,type_number,type,id,chapter,verse,bible_eng,bible_th
0,1,Genesis,ปฐมกาล,OT,1,Law,1001001,1,1,In the beginning God created the heaven and th...,ในเริ่มแรกนั้นพระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นด...
1,1,Genesis,ปฐมกาล,OT,1,Law,1001002,1,2,"And the earth was without form, and void; and ...",แผ่นดินโลกนั้นก็ปราศจากรูปร่างและว่างเปล่าอยู่...
2,1,Genesis,ปฐมกาล,OT,1,Law,1001003,1,3,"And God said, Let there be light: and there wa...","พระเจ้าตรัสว่า ""จงให้มีความสว่าง"" แล้วความสว่า..."
3,1,Genesis,ปฐมกาล,OT,1,Law,1001004,1,4,"And God saw the light, that it was good: and G...",พระเจ้าทรงเห็นว่าความสว่างนั้นดี และพระเจ้าทรง...
4,1,Genesis,ปฐมกาล,OT,1,Law,1001005,1,5,"And God called the light Day, and the darkness...",พระเจ้าทรงเรียกความสว่างนั้นว่าวัน และพระองค์ท...
5852,6,Joshua,โยชูวา,OT,2,History,6001001,1,1,Now after the death of Moses the servant of th...,อยู่มาเมื่อโมเสสผู้รับใช้ของพระเยโฮวาห์สิ้นชีว...
5853,6,Joshua,โยชูวา,OT,2,History,6001002,1,2,"Moses my servant is dead; now therefore arise,...","""โมเสสผู้รับใช้ของเราสิ้นชีวิตแล้ว ฉะนั้นบัดนี..."
5854,6,Joshua,โยชูวา,OT,2,History,6001003,1,3,Every place that the sole of your foot shall t...,ทุกๆตำบลถิ่นที่ฝ่าเท้าของเจ้าทั้งหลายจะเหยียบล...
5855,6,Joshua,โยชูวา,OT,2,History,6001004,1,4,From the wilderness and this Lebanon even unto...,ตั้งแต่ถิ่นทุรกันดารและภูเขาเลบานอนนี้ไกลไปจนถ...
5856,6,Joshua,โยชูวา,OT,2,History,6001005,1,5,There shall not any man be able to stand befor...,ไม่มีผู้ใดจะยืนหยัดต่อหน้าเจ้าได้ตลอดชีวิตของเ...
12870,18,Job,โยบ,OT,3,Wisdom,18001001,1,1,"There was a man in the land of Uz, whose name ...",มีชายคนหนึ่งในแผ่นดินอูส ชื่อโยบ ชายคนนั้นเป็น...
12871,18,Job,โยบ,OT,3,Wisdom,18001002,1,2,And there were born unto him seven sons and th...,ท่านให้กำเนิดบุตรชายเจ็ดคนและบุตรสาวสามคน
12872,18,Job,โยบ,OT,3,Wisdom,18001003,1,3,"His substance also was seven thousand sheep, a...",ส่วนสัตว์เลี้ยงของท่าน มีแกะเจ็ดพันตัว อูฐสามพ...
12873,18,Job,โยบ,OT,3,Wisdom,18001004,1,4,"And his sons went and feasted in their houses,...",บุตรชายของท่านเคยจัดการเลี้ยงในบ้านของแต่ละคนต...
12874,18,Job,โยบ,OT,3,Wisdom,18001005,1,5,"And it was so, when the days of their feasting...",และเมื่อการเลี้ยงเวียนครบรอบแล้ว โยบจะใช้ให้ไป...
17655,23,Isaiah,อิสยาห์,OT,4,Prophets,23001001,1,1,"The vision of Isaiah the son of Amoz, which he...",นิมิตของอิสยาห์บุตรชายของอามอส ซึ่งท่านได้เห็น...
17656,23,Isaiah,อิสยาห์,OT,4,Prophets,23001002,1,2,"Hear, O heavens, and give ear, O earth: for th...",ฟ้าสวรรค์เอ๋ย จงฟัง แผ่นดินโลกเอ๋ย จงเงี่ยหู เ...
17657,23,Isaiah,อิสยาห์,OT,4,Prophets,23001003,1,3,"The ox knoweth his owner, and the ass his mast...",วัวรู้จักเจ้าของของมัน และลาก็รู้จักรางหญ้าของ...
17658,23,Isaiah,อิสยาห์,OT,4,Prophets,23001004,1,4,"Ah sinful nation, a people laden with iniquity...",เออ ประชาชาติบาปหนา ชนชาติซึ่งหนักด้วยความชั่ว...
17659,23,Isaiah,อิสยาห์,OT,4,Prophets,23001005,1,5,Why should ye be stricken any more? ye will re...,ยังจะให้เฆี่ยนเจ้าตรงไหนอีกที่เจ้ากบฏอยู่เรื่อ...
23145,40,Matthew,มัทธิว,NT,5,Gospels,40001001,1,1,"The book of the generation of Jesus Christ, th...",หนังสือลำดับพงศ์พันธุ์ของพระเยซูคริสต์ ผู้เป็น...
23146,40,Matthew,มัทธิว,NT,5,Gospels,40001002,1,2,Abraham begat Isaac; and Isaac begat Jacob; an...,อับราฮัมให้กำเนิดบุตรชื่ออิสอัค อิสอัคให้กำเนิ...
23147,40,Matthew,มัทธิว,NT,5,Gospels,40001003,1,3,And Judas begat Phares and Zara of Thamar; and...,ยูดาห์ให้กำเนิดบุตรชื่อเปเรศกับเศ-ราห์เกิดจากน...
23148,40,Matthew,มัทธิว,NT,5,Gospels,40001004,1,4,And Aram begat Aminadab; and Aminadab begat Na...,รามให้กำเนิดบุตรชื่ออัมมีนาดับ อัมมีนาดับให้กำ...
23149,40,Matthew,มัทธิว,NT,5,Gospels,40001005,1,5,And Salmon begat Booz of Rachab; and Booz bega...,สัลโมนให้กำเนิดบุตรชื่อโบอาสเกิดจากนางราหับ โบ...
26924,44,Acts,กิจการ,NT,6,Acts,44001001,1,1,"The former treatise have I made, O Theophilus,...",ข้าแต่ท่านเธโอฟีลัส ในหนังสือเรื่องแรกนั้น ข้า...
26925,44,Acts,กิจการ,NT,6,Acts,44001002,1,2,"Until the day in which he was taken up, after ...",จนถึงวันที่พระองค์ทรงถูกรับขึ้นไป ในเมื่อได้ตร...
26926,44,Acts,กิจการ,NT,6,Acts,44001003,1,3,To whom also he shewed himself alive after his...,ครั้นพระองค์ทรงทนทุกข์ทรมานแล้ว ได้ทรงแสดงพระอ...
26927,44,Acts,กิจการ,NT,6,Acts,44001004,1,4,"And, being assembled together with them, comma...",เมื่อพระองค์ได้ทรงชุมนุมกันกับอัครสาวก จึงกำชั...
26928,44,Acts,กิจการ,NT,6,Acts,44001005,1,5,For John truly baptized with water; but ye sha...,เพราะว่ายอห์นให้รับบัพติศมาด้วยน้ำก็จริง แต่ไม...
27931,45,Romans,โรม,NT,7,Epistles,45001001,1,1,"Paul, a servant of Jesus Christ, called to be ...",เปาโล ผู้รับใช้ของพระเยซูคริสต์ ผู้ซึ่งพระองค์...
27932,45,Romans,โรม,NT,7,Epistles,45001002,1,2,(Which he had promised afore by his prophets i...,(คือข่าวประเสริฐที่พระองค์ได้ทรงสัญญาไว้ล่วงหน...
27933,45,Romans,โรม,NT,7,Epistles,45001003,1,3,"Concerning his Son Jesus Christ our Lord, whic...",เกี่ยวกับพระบุตรของพระองค์ คือพระเยซูคริสต์องค...
27934,45,Romans,โรม,NT,7,Epistles,45001004,1,4,"And declared to be the Son of God with power, ...",แต่ฝ่ายพระวิญญาณแห่งความบริสุทธิ์นั้นบ่งไว้ด้ว...
27935,45,Romans,โรม,NT,7,Epistles,45001005,1,5,By whom we have received grace and apostleship...,โดยทางพระองค์นั้นพวกข้าพเจ้าได้รับพระคุณและหน้...
30698,66,Revelation,วิวรณ์,NT,8,Apocalyptic,66001001,1,1,"The Revelation of Jesus Christ, which God gave...",วิวรณ์ของพระเยซูคริสต์ซึ่งพระเจ้าได้ทรงประทานแ...
30699,66,Revelation,วิวรณ์,NT,8,Apocalyptic,66001002,1,2,"Who bare record of the word of God, and of the...",ยอห์นเป็นพยานฝ่ายพระวจนะของพระเจ้า และเป็นพยาน...
30700,66,Revelation,วิวรณ์,NT,8,Apocalyptic,66001003,1,3,"Blessed is he that readeth, and they that hear...",ขอความสุขจงมีแก่บรรดาผู้อ่านและผู้ฟังคำพยากรณ์...
30701,66,Revelation,วิวรณ์,NT,8,Apocalyptic,66001004,1,4,John to the seven churches which are in Asia: ...,ยอห์นเรียนมายังคริสตจักรทั้งเจ็ดที่อยู่ในแคว้น...
30702,66,Revelation,วิวรณ์,NT,8,Apocalyptic,66001005,1,5,"And from Jesus Christ, who is the faithful wit...",และจากพระเยซูคริสต์ผู้ทรงเป็นพยานที่สัตย์ซื่อ ...

In [ ]:
law = kaning.get_group('Law')
History = kaning.get_group('History')
Wisdom = kaning.get_group('Wisdom')
Prophets = kaning.get_group('Prophets')
Gospels = kaning.get_group('Gospels')
Acts = kaning.get_group('Acts')
Epistles = kaning.get_group('Epistles')
Apocalyptic = kaning.get_group('Apocalyptic')

#law.to_csv('/gdrive/My Drive/project/church/bible/law.csv', index = False)
#History.to_csv('/gdrive/My Drive/project/church/bible/History.csv', index = False)
#Wisdom.to_csv('/gdrive/My Drive/project/church/bible/Wisdom.csv', index = False)
#Prophets.to_csv('/gdrive/My Drive/project/church/bible/Prophets.csv', index = False)
#Gospels.to_csv('/gdrive/My Drive/project/church/bible/Gospels.csv', index = False)
#Acts.to_csv('/gdrive/My Drive/project/church/bible/Acts.csv', index = False)
#Epistles.to_csv('/gdrive/My Drive/project/church/bible/Epistles.csv', index = False)
#Apocalyptic.to_csv('/gdrive/My Drive/project/church/bible/Apocalyptic.csv', index = False)
print(law)

      book_number     book_eng          book_th testament  type_number type  \
0               1      Genesis           ปฐมกาล        OT            1  Law
1               1      Genesis           ปฐมกาล        OT            1  Law
2               1      Genesis           ปฐมกาล        OT            1  Law
3               1      Genesis           ปฐมกาล        OT            1  Law
4               1      Genesis           ปฐมกาล        OT            1  Law
...           ...          ...              ...       ...          ...  ...
5847            5  Deuteronomy  เฉลยธรรมบัญญัติ        OT            1  Law
5848            5  Deuteronomy  เฉลยธรรมบัญญัติ        OT            1  Law
5849            5  Deuteronomy  เฉลยธรรมบัญญัติ        OT            1  Law
5850            5  Deuteronomy  เฉลยธรรมบัญญัติ        OT            1  Law
5851            5  Deuteronomy  เฉลยธรรมบัญญัติ        OT            1  Law

           id  chapter  verse  \
0     1001001        1      1
1     1001002        1      2
2     1001003        1      3
3     1001004        1      4
4     1001005        1      5
...       ...      ...    ...
5847  5034008       34      8
5848  5034009       34      9
5849  5034010       34     10
5850  5034011       34     11
5851  5034012       34     12

                                              bible_eng  \
0     In the beginning God created the heaven and th...
1     And the earth was without form, and void; and ...
2     And God said, Let there be light: and there wa...
3     And God saw the light, that it was good: and G...
4     And God called the light Day, and the darkness...
...                                                 ...
5847  And the children of Israel wept for Moses in t...
5848  And Joshua the son of Nun was full of the spir...
5849  And there arose not a prophet since in Israel ...
5850  In all the signs and the wonders, which the LO...
5851  And in all that mighty hand, and in all the gr...

                                               bible_th
0     ในเริ่มแรกนั้นพระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นด...
1     แผ่นดินโลกนั้นก็ปราศจากรูปร่างและว่างเปล่าอยู่...
2     พระเจ้าตรัสว่า "จงให้มีความสว่าง" แล้วความสว่า...
3     พระเจ้าทรงเห็นว่าความสว่างนั้นดี และพระเจ้าทรง...
4     พระเจ้าทรงเรียกความสว่างนั้นว่าวัน และพระองค์ท...
...                                                 ...
5847  และคนอิสราเอลร้องไห้ถึงโมเสสที่ราบโมอับสามสิบว...
5848  โยชูวาบุตรชายนูนมีจิตใจอันประกอบด้วยสติปัญญา เ...
5849  ตั้งแต่วันนั้นมาก็ไม่มีผู้พยากรณ์คนใดเกิดขึ้นใ...
5850  ไม่มีผู้ใดเสมอเหมือนท่านในเรื่องหมายสำคัญและกา...
5851  และในเรื่องอำนาจยิ่งใหญ่และกิจการอันน่าเกรงกลั...

[5852 rows x 11 columns]

In [ ]:
#พระคัมภีร์พระสัญญาใหม่
nt = df.loc[23145:31102, ['id','book_th','chapter','verse','bible_th']]

In [ ]:
print(nt)

             id book_th   c   v  \
23145  40001001  มัทธิว   1   1
23146  40001002  มัทธิว   1   2
23147  40001003  มัทธิว   1   3
23148  40001004  มัทธิว   1   4
23149  40001005  มัทธิว   1   5
...         ...     ...  ..  ..
31097  66022017  วิวรณ์  22  17
31098  66022018  วิวรณ์  22  18
31099  66022019  วิวรณ์  22  19
31100  66022020  วิวรณ์  22  20
31101  66022021  วิวรณ์  22  21

                                                bible_th
23145  หนังสือลำดับพงศ์พันธุ์ของพระเยซูคริสต์ ผู้เป็น...
23146  อับราฮัมให้กำเนิดบุตรชื่ออิสอัค อิสอัคให้กำเนิ...
23147  ยูดาห์ให้กำเนิดบุตรชื่อเปเรศกับเศ-ราห์เกิดจากน...
23148  รามให้กำเนิดบุตรชื่ออัมมีนาดับ อัมมีนาดับให้กำ...
23149  สัลโมนให้กำเนิดบุตรชื่อโบอาสเกิดจากนางราหับ โบ...
...                                                  ...
31097  พระวิญญาณและเจ้าสาวตรัสว่า "เชิญมาเถิด" และให้...
31098  ข้าพเจ้าเตือนทุกคนที่ได้ยินคำพยากรณ์ในหนังสือน...
31099  และถ้าผู้ใดตัดข้อความออกจากหนังสือพยากรณ์นี้ พ...
31100  พระองค์ผู้ทรงเป็นพยานในเหตุการณ์ทั้งปวงนี้ ตรั...
31101  ขอให้พระคุณแห่งพระเยซูคริสต์องค์พระผู้เป็นเจ้า...

[7957 rows x 5 columns]

In [ ]:
print(nt)

             id book_th  chapter  verse  \
23145  40001001  มัทธิว        1      1
23146  40001002  มัทธิว        1      2
23147  40001003  มัทธิว        1      3
23148  40001004  มัทธิว        1      4
23149  40001005  มัทธิว        1      5
...         ...     ...      ...    ...
31097  66022017  วิวรณ์       22     17
31098  66022018  วิวรณ์       22     18
31099  66022019  วิวรณ์       22     19
31100  66022020  วิวรณ์       22     20
31101  66022021  วิวรณ์       22     21

                                                bible_th
23145  หนังสือลำดับพงศ์พันธุ์ของพระเยซูคริสต์ ผู้เป็น...
23146  อับราฮัมให้กำเนิดบุตรชื่ออิสอัค อิสอัคให้กำเนิ...
23147  ยูดาห์ให้กำเนิดบุตรชื่อเปเรศกับเศ-ราห์เกิดจากน...
23148  รามให้กำเนิดบุตรชื่ออัมมีนาดับ อัมมีนาดับให้กำ...
23149  สัลโมนให้กำเนิดบุตรชื่อโบอาสเกิดจากนางราหับ โบ...
...                                                  ...
31097  พระวิญญาณและเจ้าสาวตรัสว่า "เชิญมาเถิด" และให้...
31098  ข้าพเจ้าเตือนทุกคนที่ได้ยินคำพยากรณ์ในหนังสือน...
31099  และถ้าผู้ใดตัดข้อความออกจากหนังสือพยากรณ์นี้ พ...
31100  พระองค์ผู้ทรงเป็นพยานในเหตุการณ์ทั้งปวงนี้ ตรั...
31101  ขอให้พระคุณแห่งพระเยซูคริสต์องค์พระผู้เป็นเจ้า...

[7957 rows x 5 columns]

In [ ]:
#random พระคัมภีร์ทั้งเล่ม
bible.sample(n = 1)

,id,book_th,chapter,verse,bible_th
18186,23028022,อิสยาห์,28,22,เพราะฉะนั้นบัดนี้อย่าเป็นคนเยาะเย้ย เกลือกว่าพ...

In [ ]:
#random พระคัมภีร์พระสัญญาเดิม
ot.sample(n = 1)

,id,book_th,chapter,verse,bible_th
12256,15010004,เอสรา,10,4,จงลุกขึ้นเถิด เพราะเป็นหน้าที่ของท่าน และเราทั...

In [ ]:
#random พระคัมภีร์พระสัญญาใหม่
nt.sample(n = 1)

,id,book_th,chapter,verse,bible_th
25041,42003016,ลูกา,3,16,"ยอห์นจึงตอบเขาทั้งหลายว่า ""เราให้เจ้ารับบัพติศ..."

In [ ]:
test = df.loc[23145,['book_th','chapter','verse','bible_th']]
print(test)

book_th                                                มัทธิว
chapter                                                     1
verse                                                       1
bible_th    หนังสือลำดับพงศ์พันธุ์ของพระเยซูคริสต์ ผู้เป็น...
Name: 23145, dtype: object

In [ ]:
print('Bible = %d' % (test.shape[0]))

Bible = 4

In [ ]:
df['word_count'] = df['bible_th'].str.len()

In [ ]:
df.head()

,book_number,book_eng,book_th,testament,type_number,type,id,chapter,verse,bible_eng,bible_th,word_count
0,1,Genesis,ปฐมกาล,OT,1,Law,1001001,1,1,In the beginning God created the heaven and th...,ในเริ่มแรกนั้นพระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นด...,51
1,1,Genesis,ปฐมกาล,OT,1,Law,1001002,1,2,"And the earth was without form, and void; and ...",แผ่นดินโลกนั้นก็ปราศจากรูปร่างและว่างเปล่าอยู่...,113
2,1,Genesis,ปฐมกาล,OT,1,Law,1001003,1,3,"And God said, Let there be light: and there wa...","พระเจ้าตรัสว่า ""จงให้มีความสว่าง"" แล้วความสว่า...",57
3,1,Genesis,ปฐมกาล,OT,1,Law,1001004,1,4,"And God saw the light, that it was good: and G...",พระเจ้าทรงเห็นว่าความสว่างนั้นดี และพระเจ้าทรง...,75
4,1,Genesis,ปฐมกาล,OT,1,Law,1001005,1,5,"And God called the light Day, and the darkness...",พระเจ้าทรงเรียกความสว่างนั้นว่าวัน และพระองค์ท...,107

In [ ]:
#df.groupby(by=['Book Name', 'testament', 'genre']).agg({
 #   'c' : 'max',
 #   'v' : 'count'
#}).reset_index().sort_values(['v'], ascending = False)